@font-face {
  font-family: 'Source Serif';
  src: url(../fonts/sourceserifpro-regular-webfont.eot);
  src: url(../fonts/sourceserifpro-regular-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/sourceserifpro-regular-webfont.woff2) format('woff2'), url(../fonts/sourceserifpro-regular-webfont.woff) format('woff'), url(../fonts/sourceserifpro-regular-webfont.ttf) format('truetype'), url(../fonts/sourceserifpro-regular-webfont.svg#source_serif_proregular) format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/sourcesanspro-regular-webfont.eot);
  src: url(../fonts/sourcesanspro-regular-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/sourcesanspro-regular-webfont.woff2) format('woff2'), url(../fonts/sourcesanspro-regular-webfont.woff) format('woff'), url(../fonts/sourcesanspro-regular-webfont.ttf) format('truetype'), url(../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular) format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/sourcesanspro-semibold-webfont.eot);
  src: url(../fonts/sourcesanspro-semibold-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/sourcesanspro-semibold-webfont.woff2) format('woff2'), url(../fonts/sourcesanspro-semibold-webfont.woff) format('woff'), url(../fonts/sourcesanspro-semibold-webfont.ttf) format('truetype'), url(../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold) format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesanspro-black-webfont.eot');
  src: url('../fonts/sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro-black-webfont.woff2') format('woff2'), url('../fonts/sourcesanspro-black-webfont.woff') format('woff'), url('../fonts/sourcesanspro-black-webfont.ttf') format('truetype'), url('../fonts/sourcesanspro-black-webfont.svg#source_sans_problack') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesanspro-bold-webfont.eot');
  src: url('../fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'), url('../fonts/sourcesanspro-bold-webfont.woff') format('woff'), url('../fonts/sourcesanspro-bold-webfont.ttf') format('truetype'), url('../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
  font-weight: 700;
  font-style: normal;
}
